Reading Data - summer

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
summer_athletes = pd.read_csv('Athletes_summer_games.csv', index_col=0)

In [9]:
summer_athletes.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [11]:
summer_athletes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237673 entries, 0 to 15120
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    237673 non-null  object
 1   Sex     237673 non-null  object
 2   Age     228484 non-null  float64
 3   Team    237673 non-null  object
 4   NOC     237673 non-null  object
 5   Games   237673 non-null  object
 6   Year    237673 non-null  int64
 7   Season  237673 non-null  object
 8   City    237673 non-null  object
 9   Sport   237673 non-null  object
 10  Event   237673 non-null  object
 11  Medal   36537 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 23.6+ MB

In [12]:
summer_athletes.shape

(237673, 12)