In [1]:
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt

C:\Users\Kamila Nita\AppData\Roaming\Python\Python39\site-packages\pyspark\pandas\__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
spark = SparkSession.builder.appName('IO').getOrCreate()

In [12]:
summer_athletes = spark.read.csv("Athletes_summer_games.csv", 
                      header='true', 
                      inferSchema='true')

summer_athletes = summer_athletes.withColumn("index_col", summer_athletes["_c0"]).drop("_c0")

In [13]:
summer_athletes.show()

+--------------------+---+----+--------------+---+-----------+----+------+-----------+----------+--------------------+------+---------+
|                Name|Sex| Age|          Team|NOC|      Games|Year|Season|       City|     Sport|               Event| Medal|index_col|
+--------------------+---+----+--------------+---+-----------+----+------+-----------+----------+--------------------+------+---------+
|           A Dijiang|  M|24.0|         China|CHN|1992 Summer|1992|Summer|  Barcelona|Basketball|Basketball Men's ...|  null|        0|
|            A Lamusi|  M|23.0|         China|CHN|2012 Summer|2012|Summer|     London|      Judo|Judo Men's Extra-...|  null|        1|
| Gunnar Nielsen Aaby|  M|24.0|       Denmark|DEN|1920 Summer|1920|Summer|  Antwerpen|  Football|Football Men's Fo...|  null|        2|
|Edgar Lindenau Aabye|  M|34.0|Denmark/Sweden|DEN|1900 Summer|1900|Summer|      Paris|Tug-Of-War|Tug-Of-War Men's ...|  Gold|        3|
|"Cornelia ""Cor""...|  F|18.0|   Netherlands|NED|1932 Summer|1932|Summer|Los Angeles| Athletics|Athletics Women's...|  null|       26|
|"Cornelia ""Cor""...|  F|18.0|   Netherlands|NED|1932 Summer|1932|Summer|Los Angeles| Athletics|Athletics Women's...|  null|       27|
|"Einar Ferdinand ...|  M|26.0|       Finland|FIN|1952 Summer|1952|Summer|   Helsinki|  Swimming|Swimming Men's 40...|  null|       29|
|   Jyri Tapani Aalto|  M|31.0|       Finland|FIN|2000 Summer|2000|Summer|     Sydney| Badminton|Badminton Men's S...|  null|       31|
|  Minna Maarit Aalto|  F|30.0|       Finland|FIN|1996 Summer|1996|Summer|    Atlanta|   Sailing|Sailing Women's W...|  null|       32|
|  Minna Maarit Aalto|  F|34.0|       Finland|FIN|2000 Summer|2000|Summer|     Sydney|   Sailing|Sailing Women's W...|  null|       33|
|Arvo Ossian Aaltonen|  M|22.0|       Finland|FIN|1912 Summer|1912|Summer|  Stockholm|  Swimming|Swimming Men's 20...|  null|       35|
|Arvo Ossian Aaltonen|  M|22.0|       Finland|FIN|1912 Summer|1912|Summer|  Stockholm|  Swimming|Swimming Men's 40...|  null|       36|
|Arvo Ossian Aaltonen|  M|30.0|       Finland|FIN|1920 Summer|1920|Summer|  Antwerpen|  Swimming|Swimming Men's 20...|Bronze|       37|
|Arvo Ossian Aaltonen|  M|30.0|       Finland|FIN|1920 Summer|1920|Summer|  Antwerpen|  Swimming|Swimming Men's 40...|Bronze|       38|
|Arvo Ossian Aaltonen|  M|34.0|       Finland|FIN|1924 Summer|1924|Summer|      Paris|  Swimming|Swimming Men's 20...|  null|       39|
|Paavo Johannes Aa...|  M|28.0|       Finland|FIN|1948 Summer|1948|Summer|     London|Gymnastics|Gymnastics Men's ...|Bronze|       41|
|Paavo Johannes Aa...|  M|28.0|       Finland|FIN|1948 Summer|1948|Summer|     London|Gymnastics|Gymnastics Men's ...|  Gold|       42|
|Paavo Johannes Aa...|  M|28.0|       Finland|FIN|1948 Summer|1948|Summer|     London|Gymnastics|Gymnastics Men's ...|  null|       43|
|Paavo Johannes Aa...|  M|28.0|       Finland|FIN|1948 Summer|1948|Summer|     London|Gymnastics|Gymnastics Men's ...|  Gold|       44|
|Paavo Johannes Aa...|  M|28.0|       Finland|FIN|1948 Summer|1948|Summer|     London|Gymnastics|Gymnastics Men's ...|  null|       45|
+--------------------+---+----+--------------+---+-----------+----+------+-----------+----------+--------------------+------+---------+
only showing top 20 rows

In [14]:
summer_athletes.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)
 |-- index_col: integer (nullable = true)

In [17]:
num_row = summer_athletes.count()
num_col = len(summer_athletes.columns)

print("Summer Athletes Data Frame shape: ", num_col, ".", num_row)

Summer Athletes Data Frame shape:  13 . 237673

In [20]:
desc = summer_athletes.describe()

desc.show()

+-------+--------------------+-------------+------------------+--------------------+------------------+-----------+------------------+------------------+------------------+--------------+--------------------+--------------------+------------------+
|summary|                Name|          Sex|               Age|                Team|               NOC|      Games|              Year|            Season|              City|         Sport|               Event|               Medal|         index_col|
+-------+--------------------+-------------+------------------+--------------------+------------------+-----------+------------------+------------------+------------------+--------------+--------------------+--------------------+------------------+
|  count|              237673|       237673|            228486|              237671|            237673|     237673|            237673|            237673|            237673|        237673|              237673|               36871|            237673|
|   mean|                null|         null|25.748993235596032|  24.583815028901736|23.142857142857142|       null|1979.1384342912563|1960.4568138195777| 1937.142857142857|          null|                null|                null|126947.99052058921|
| stddev|                null|         null|6.6402542496296055|   5.754317507180295|10.302565561201595|       null|31.783837529852086| 25.47907430659598|25.893554998805968|          null|                null|                null|  82093.4601040641|
|    min| Eleonora Margari...| -Bakhuizen)"|       -Andersen)"|"Large boat, Cent...|              14.0|1896 Summer|              1896|              1900|              1900|3x3 Basketball|  10m Air Pistol Men|Archery Men's Ind...|                 0|
|    max|            zzet nce|            M|                 M|                rn-2|          Zimbabwe|        ZIM|               USA|            Summer|             Tokyo|     Wrestling|Wrestling Women's...|Wrestling Men's W...|            271110|
+-------+--------------------+-------------+------------------+--------------------+------------------+-----------+------------------+------------------+------------------+--------------+--------------------+--------------------+------------------+

In [21]:
count_value_of_teams = summer_athletes.groupBy("Team").agg(count("*").alias("count"))

NameError: name 'count' is not defined