Data reading - winter

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
winter_athletes = pd.read_csv('Athletes_winter_games.csv', index_col=0)

In [7]:
winter_athletes.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,Christine Jacoba Aaftink,F,21.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,21.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,Christine Jacoba Aaftink,F,25.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,Christine Jacoba Aaftink,F,25.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,Christine Jacoba Aaftink,F,27.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
winter_athletes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48564 entries, 4 to 271115
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    48564 non-null  object
 1   Sex     48564 non-null  object
 2   Age     48279 non-null  float64
 3   Team    48564 non-null  object
 4   NOC     48564 non-null  object
 5   Games   48564 non-null  object
 6   Year    48564 non-null  int64
 7   Season  48564 non-null  object
 8   City    48564 non-null  object
 9   Sport   48564 non-null  object
 10  Event   48564 non-null  object
 11  Medal   5695 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 4.8+ MB

In [9]:
winter_athletes.shape

(48564, 12)